a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*========================================reset code===========================================*/
body {
	height: 3000px; /*임시*/
}
.container {
    width: 100%;

}
nav > div:nth-child(1) {
    height: 44px;
    background-color: black;
    font-size: 16px;
    color: white;
    display: grid;
    place-content: center;
}
/*===================nav==================*/
nav {
    font-size: 12px;
}
nav > ul > li {
    display: flex;
}
nav > ul {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
nav > ul > li:last-child > div {
    padding: 0 16px 0 8px;
}

nav > ul > li > div {
    display: flex;

}
nav > ul > li > div > img {
    margin-top: -2px;
    margin-left: 8px;
}
nav > ul > li > div:nth-child(1) {
    border-right: 1px solid black;
    height: 15px;
}
nav > ul > li:nth-child(1) > div:nth-child(2) {
    border-right: 1px solid black;
    height: 15px;
}
nav > ul > li:nth-child(1) > div {
    margin-right: 16px;
}

#input_pc {
    margin-top: -4px;
    width: 140px;
    height: 30px;
    background-color: #f9f9f9;
    border: 0;
    font-size: 14px;
    background-image: url("/img/search_FILL0_wght300_GRAD0_opsz48");
    background-repeat: no-repeat;
    background-size: 34px;
    padding: 0 0 0 34px;
}
#input_mobile {
    width: 85%;
    height: 34px;
    background-color: #f9f9f9;
    border: 0;
    font-size: 14px;
    background-image: url("/img/search_FILL0_wght300_GRAD0_opsz48");
    background-repeat: no-repeat;
    background-size: 34px;
    margin: 0 0 10px 30px;
    padding: 0 0 0 34px;
}
#nav_main > ul {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
#nav_main > ul > li {
    margin: 0 16px;
}
#nav_main > ul > li:hover {
    border-bottom: 1px solid black;
    padding: 0 0 4px;
    cursor: pointer;
}
/*
#nav_next {
    display: flex;
    width: 100%;
    background-color: white;
    
    position: absolute;
    left: 13%;
    top: 22%;
    transition-duration: 0.5s;
}
#nav_next > div {
    margin-top: 20px;
    margin-right: 30px;
    white-space: nowrap;
}
#nav_next > :not(.not_img){
    width: 135px;
}

#nav_next > div > ul > li {
    color: gray;
    font-weight: bold;
    margin-bottom: 20px;
}
#nav_next > div > ul > li > span{
    color: black;
    font-weight: bold;
}
#nav_next > div > ul > li:nth-child(1){
    margin-bottom: 50px;
}
*/
.nav_img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 23%;
	right: 20%;
    display: none; /*임시 나중에 바꿔서 자바스크립트 넣기*/
    width: 400px;
    height: 400px;
}
/*===================nav==================*/
/*===================main==================*/
#pc_main {
	margin-top: 30px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}


.t_line_0 {
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 150px;
	display: flex;
}
.t_line {
    width: 40px;
    height: 0.99px;
    background-color: black;
    margin: 12px 12px;
}
.ADD{
    width: 140px;
    height: 30px;
    border: 0;
    color: white;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}
.ADD:hover {
    background-color: white;
    color: black;
}

.img_2  > ul {
    display: flex;
	justify-content: space-around;
}

.img_3 > div , .img_4 > div {
    margin-bottom: 8px;
}
.img_3 > span  , .img_4 > span {
    color: #767677;
    font-weight: bold;
}
.img_3 , .img_4 {
    margin-top: 100px;
    text-align: center;
	padding: 0 40px;
}

.img_3 > img , .img_4 > img {
    width: 219px;
    height: 219px;
}
/*====================================중요=========================*/
.controller > span {
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 50px;
    cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller > span:hover {
    background-color: rgba(128, 128, 128, 0.11);
}


.prev {
    left: 10px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
    transform: translateX(-10px);
}

.next {
    right: 10px;

}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
    transform: translateX(10px);
}
/*============================================중요====================================*/

/*===================main==================*/
@media (min-width : 750px) {
    #mobile_nav {
        display: none;
    }
}
@media(max-width : 750px) {
    #pc_nav {
        display: none;
    }
}
