a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*========================================reset code===========================================*/

.pc_container {
    width: 100%;
    position: absolute;
    top: 28%;
}
#pc_nav > div:nth-child(1) {
    height: 44px;
    background-color: black;
    font-size: 16px;
    color: white;
    display: grid;
    place-content: center;
}
/*===================nav==================*/
nav {
    font-size: 12px;
}
#pc_nav > ul > li {
    display: flex;
}
#pc_nav > ul {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#pc_nav > ul > li:last-child > div {
    padding: 0 16px 0 8px;
}

#pc_nav > ul > li > div {
    display: flex;

}
#pc_nav > ul > li > div > img {
    margin-top: -2px;
    margin-left: 8px;
}
#pc_nav > ul > li > div:nth-child(2) {
    border-right: 1px solid black;
    height: 15px;
}
#pc_nav > ul > li:nth-child(1) > div:nth-child(2) {
    border-right: 1px solid black;
    height: 15px;
}
#pc_nav > ul > li:nth-child(1) > div {
    margin-right: 16px;
}

#input_pc {
    margin-top: -4px;
    width: 140px;
    height: 30px;
    background-color: #f9f9f9;
    border: 0;
    font-size: 14px;
    background-image: url("/img/search_FILL0_wght300_GRAD0_opsz48.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-size: 34px;
    padding: 0 0 0 34px;
    outline: none;
}
#input_mobile {
    width: 90%;
    height: 32px;
    background-color: #f9f9f9;
    border: 0;
    font-size: 12px;
    background-image: url("/img/search_FILL0_wght300_GRAD0_opsz48.png");
    background-repeat: no-repeat;
    background-size: 34px;
    margin: 0 0 10px 30px;
    padding: 0 0 0 34px;
    outline: none;
}

#nav_main > ul {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
#nav_main > ul > li {
    margin: 0 16px;
}
#nav_main > ul > li:hover {
    border-bottom: 1px solid black;
    padding: 0 0 4px;
    cursor: pointer;
}

/*===================nav==================*/
/*===================main==================*/
#pc_main > div > div > img {
    margin-left: 50px;
    margin-right: 50px;
}
/*pc버전 op*/
#pc_main {
    margin-top: 30px;
    text-align: center;
}
#pc_main > div > div:not(.not_op) {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#pc_main > div > div.show {
    opacity: 1;
}
/*pc버전 op*/
.t_line_0 {
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 150px;
    display: flex;
    margin-bottom: 70px;
}
.t_line {
    width: 40px;
    height: 0.99px;
    background-color: black;
    margin: 12px;
}
.ADD {
    width: 118px;
    height: 30px;
    border: 0;
    color: white;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
}
.ADD:hover {
    background-color: white;
    color: black;
}

.img_2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: calc(50vw + 320px);
    margin-bottom: 150px;
    overflow: hidden;
}

.img_2 > ul {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: 0;
    transition-duration: 0.5s;
}

#pc_main > div:nth-child(2) > div:nth-child(4) > div:nth-child(4) > div:nth-child(4) > div:nth-child(3) > ul {
    justify-content: center;
}

.img_2 > ul > li > div {
    margin-bottom: 8px;
}
.img_2 > ul > li > span {
    color: #767677;
    font-weight: bold;
}
.img_2 > ul > li {
    margin-top: 100px;
    text-align: center;
    margin: 0 40px;
}

.img_3_1,
.img_3_2,
.img_3_3,
.img_3_4,
.img_3_5,
.img_3_6 {
    width: 12.5vw;
}

/*====================================중요=========================*/
.controller > span {
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    /*top: 182%;*/
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller > span:hover {
    background-color: rgba(128, 128, 128, 0.11);
}

.prev {
    left: 10px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
    transform: translateX(-10px);
}

.next {
    right: 10px;

}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
    transform: translateX(10px);
}
/*============================================중요====================================*/

/*===================main==================*/
/*========================footer===================*/
#last_1 {
    margin-bottom: 30px;
}
#last_1 > ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    border-top: 1px solid;
}
#last_1 > ul > li {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
}

#last_1 > ul > li:last-child {
    align-items: center;
}

#last_2 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
#last_2 > ul {
    margin-top: 50px;
}
#last_2 > ul > li {
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 4px;
}
#last_2 > ul > li:nth-child(1) {
    margin-bottom: 20px;
}
#last_2 > ul > li > span {
    font-size: 16px;
    font-weight: bold;
}

#last_3 {
    padding-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
}
#last_3 > div > ul {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
#last_3 > div > ul > li {
    margin: 0 30px;
}
#last_4 {
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 50px;
}
#last_4 > div:nth-child(2){
    display: flex;
    justify-content: center;
}
#last_4 > div > input {
    width: 200px;
    height: 20px;
    border: #e2e2e2;
    margin-top: 20px;
    outline: none;
}
#last_4 > div > input::placeholder {
    color: black;
}
#last_4 > div > button {
    background-color: white;
    border: 0;
    height: 22px;
    cursor: pointer;
    margin-top: 20px;
}

#last_4 > div:nth-child(3) {
    font-size: 12px;
    margin-top: 20px;
}
#last_4 > div:nth-child(3) > a {
    color: white;
}
#last_4 > div:nth-child(4) {
    width: 200px;
    height: 20px;
    margin-top: 50px;
    background-color: black;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
}
#last_4 > div:nth-child(4) > div {
    display: flex;
}
#last_4 > div:nth-child(4) > div:nth-child(2) {
    filter: invert(100%);
}
#last_4 > div > ul {
    display: flex;
    font-size: 12px;
    color: #e6e6e6;
    justify-content: center;
    margin-top: 30px;
}
#last_4 > div > ul > li {
    margin-right: 50px;
}
#last_4 > div > ul > li:nth-child(4) {
    display: flex;
}
#last_4 > div > ul > li > a {
    color: #e6e6e6;
    text-decoration: none;
}
#last_4 > div > ul > li > a:hover {
    color: white;
    text-decoration: underline;
}
#last_4 > div:last-child {
    width: 120px;
    height: 25px;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}

#last_5 {
    text-align: center;
    background-color: black;
    color: #e6e6e6;
    font-size: 12px;
}
#last_5 > ul > li > span {
    font-weight: bold;
}
#last_5 > ul > li {
    padding: 10px 0;
}
#last_5 > ul > li > a {
    text-decoration: none;
    color: #e6e6e6;
}
#last_5 > ul > li > a:hover {
    text-decoration: underline;
    color: white;
}

#last_5 > ul > ul {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#last_5 > ul > ul > li {
    margin-right: 30px;
}
#bu {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 20px;
}
#bu > div {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#bu > div:nth-child(1) {
    width: 134px;
    height: 46px;
    bottom: 2%;
    background-color: black;
    border-radius: 30px;
    line-height: 46px;
}
#bu > div:nth-child(1) > img {
    filter: invert(100%);
}
.top {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: black;
    right: 5%;
    bottom: 1%;
}

#bu > div:last-child > img {
    filter: invert(100%);
}

footer {
    height: 500px;
}

/*========================footer===================*/

/*====================mobile===================*/

#mobile_nav_1 > ul {
    display: flex;
    justify-content: space-between;
}
#mobile_nav_1 > ul > li:last-child > div {
    display: flex;
    gap: 4px;
}
#mobile_nav_1 > ul > li:nth-child(1),
#mobile_nav_1 > ul > li:nth-child(3) {
    margin: 10px;
}
.line {
    width: 24px;
    height: 0.99px;
    background-color: black;
    margin-bottom: 6px;
}
.line:last-child {
    width: 50%;
}

#mobile_nav {
    height: 30px;
    background-color: black;
    font-size: 12px;
    color: white;
    display: grid;
    place-content: center;
}

/*=================mobile_main=================*/
.mobile_container {
    margin: 0 25px;
}
.mobile_img > div > img {
    max-width: 100%;
    margin-top: 80px;
}
.mobile_img > div:nth-child(2) {
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
}
.mobile_img > div:nth-child(2) > div {
    margin-top: 20px;
    font-size: 14px;
    margin-right: 30px;
    margin-left: 30px;
}
.mobile_img > div:nth-child(2) > div > span {
    font-size: 30px;
    font-weight: bold;
}
.mobile_img > div:nth-child(2) > div:nth-child(2) {
    font-size: 0;
}
.img_button {
    margin: 0 50px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    cursor: pointer;
}
.img_button:hover {
    background-color: #e6e6e6;
}
.mobile_img_1 {
    margin-top: 100px;

}

.mobile_img_1 > div {
    display: flex;
}
.mobile_img_1 > div > div:nth-child(2) {
    font-size: 22px;
}
.line_img {
    width: 20%;
    height: 1px;
    background-color: black;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;

}
.mobile_img_1_1 > div {
    width: 1200px;
    margin-left: 35px;
    margin-right: auto;
    overflow: hidden;
}
.mobile_img_1_1 > div {
    display: flex;
    align-items: center;
}
.mobile_img_1_1 > div > ul {
    display: flex;
    position: relative;
    left: 0;
    transition-duration: 0.5s;
}
.mobile_img_1_1 > div > ul > li {
    text-align: center;
    margin: 50px 100px 0;
}
.mobile_img_1_1 > div > ul > li > span > div {
    margin: 10px;
    font-size: 12px;
}
.mobile_img_1_1 > div > ul > li > span {
    color: #767677;
    font-weight: bold;
}

.mobile_controller > span {
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
    position: absolute;

}
.mobile_controller > span:hover {
    background-color: rgba(128, 128, 128, 0.11);
}
.mobile_img_1_1s,
.mobile_img_1_2s,
.mobile_img_1_3s,
.mobile_img_1_4s,
.mobile_img_1_5s {
    width: 25vw;

}
/*=================mobile_main=================*/

/*===================footer=====================*/
#mobile_last {
    font-size: 12px;
    margin-top: 80px;
    width: 100%;
    border-top: 0.99px solid black;
}
#mobile_last > ul {
    margin-top: 30px;
    text-align: center;

}
#mobile_last > ul > li {
    width: 50%;
    height: 71px;
    float: left;
    margin: 30px 0;
    font-size: 10px;
    font-weight: bold;
}
#mobile_last > ul > li > p {
    margin-top: 10px;
}
/*===================footer=====================*/

/*=====================section=====================*/

.help_1 {
    cursor: pointer;
    margin: 0 0 30px;
}
.help_1 > li {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 100;
}
.help_1 > li:last-child {
    height: 0;
    transition-duration: 0.5s;
}
.help-lastitem {
    overflow: hidden;
    font-size: 10px;
    line-height: 30px;
    color: black;
    padding: 0 20px;
}
.help-lastitem > li {
    margin-top: 10px;
}

/*=====================section=====================*/

.body_care,
.candle,
.decoration,
.gift,
.news,
.perfumes {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    transition-duration: 0.5s;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    z-index: 999;
}
.news > ul:nth-child(1) {
    margin-top: 35px;
}
.news > ul > li,
.perfumes > ul > li {
    margin-bottom: 51px;
}
.candle > ul > li {
    margin-bottom: 30px;
}
.candle > ul {
    padding: 0 70px;
}
.candle > ul:nth-child(1),
.candle > ul:nth-child(2),
.candle > ul:nth-child(3) {
    border-right: solid #e6e6e6 1px;
    height: 550px;

}
.candle > ul > li > span {
    font-weight: bold;
}
.body_care > ul,
.decoration > ul {
    padding: 0 70px;
}
.body_care > ul > li,
.decoration > ul > li,
.gift > ul > li {
    margin-bottom: 30px;
}
.body_care > ul > li > span,
.decoration > ul > li > span,
.gift > ul > li > span {
    font-weight: bold;
}
.body_care > ul:nth-child(1),
.decoration > ul:nth-child(1),
.gift > ul:nth-child(1) {
    border-right: solid 1px #e6e6e6;
    height: 350px;
}
.gift > ul {
    padding: 0 70px;
}
.x {
    display: inline-block;
    margin-left : 92%;
    padding: 0px 20px;
}
.x:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50px;
}
#mobile_hidden {
    width: 0%;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    transition-duration: 0.5s;
    position: fixed;
    top: 0%;
    z-index: 1999;
    background-color: white;
}
#mobile_hidden > ul:not(.not_ul) {
    margin: 30px;
}
#mobile_hidden > ul > li {
    margin-bottom: 20px;
}

.not_ul {
    font-size: 15px;
}
.not_ul > li {
    display: flex;
    height: 30px;
    padding: 0 30px;
}
.not_ul > li:nth-child(1) {
    background-color: #e6e5e5;
    line-height: 47px;
    height: 50px;
}
.not_ul > li:nth-child(1) > img {
    margin-top: 8px;
}
.not_ul > li:nth-child(2) {
    line-height: 32px;
}
.not_ul > li:last-child {
    line-height: 29px;
}
.mobile_last_input {
    height: 41px;
    width: 95%;
    border-radius: 0;
    outline: 0;
    border: 1px solid #e5e6e6;
    padding: 0 0 0 10px;
    margin:  0px 30px;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
#mobile_hidden > ul:not(.not_ul) > li {
    display: flex;
    justify-content: space-between;
}
.bbo {
    border-bottom: solid 1px #e5e6e6;
    padding-bottom: 20px;
}
#mobile_hidden > ul:last-child > li > span {
    color: #767677;
}
#mobile_last_img {
    display: flex;
}
#mobile_last_img > li > img {
    width: 18vw;
}
/*====================mobile===================*/
@media (min-width : 1200px) {
    #input_mobile,
    #mobile_hidden,
    #mobile_nav,
    #mobile_nav_1,
    .mobile_container {
        display: none;
    }
}
@media(max-width : 1200px) {
    #pc_nav,
    #pc_top_nav,
    .pc_container {
        display: none;
    }
}
